#oven img {
  max-height: 60vh;
  max-width: 50vh;
  margin: 0 auto;
}

.progress {
  max-width: 7vw;
  margin: 0 auto;
  padding-top: 2vh;
}

#0 {
  color: blue !important;
  margin: 50px !important;
}


