

body {
  background: #64e3f7;
  margin : 0;
overflow: auto;
}

.container {
  max-width: 500px;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 0 auto;
}

.App {
  text-align: center;
  color: white;
  z-index: 2 !important;
  font-family: "Roboto", sans-serif;
  margin : 0
}

h1 {
  font-family: "Lobster Two", sans-serif;
  padding-top: 5vh;
  padding-bottom: 3vh;
  margin: 0
}

h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  z-index: 2 !important;
  font-size: 1.1em;
}

p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  z-index: 2 !important;

}

.number {
  font-family: "Roboto";
  font-size: 2em;
}

.time {
   font-family: "Lobster Two";
  padding-top: 2vh;
    font-size: 1.7em;
}

#logo img {
  margin: 0 auto;
  height: 15vh;
  display: block;
  justify-items: center;
  z-index: 2 !important;
}

button.buttonstyle {
  border: none;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 30px;
  background-color: #ff0160;
  color: white;
  box-shadow: 0 0 10px #f9f8ee, 0 0 10px #f9f8ee, 0 0 10px #f9f8ee;
  border-radius: 5px;
  font-family: "Lobster Two", sans-serif;
  z-index: 2 !important;
}

.buttonstyleleaderboard {
  border: none;
  font-size: 22px;
  font-weight: bolder;
  padding: 8px 30px;
  background-color: #7e8ea3;
  color: white;
  box-shadow: 0 0 10px #f9f8ee, 0 0 10px #f9f8ee, 0 0 10px #f9f8ee;
  border-radius: 5px;
  font-family: "Lobster Two", sans-serif;
  z-index: 2 !important;
}

button:hover {
  transform: scale(1.1);
  transition: all 100ms ease-in;
}

div.centerdiv {
  margin: 30px auto 0px auto;
}
